@using MosaicApp.ViewModels.PositionVMs
@model PositionUpdateVM

<div class="container-fluid">
    <form method="post">

        <div class="form-group">
            <label asp-for="Name">Position Name</label>
            <input asp-for="Name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Type here...">
            <span asp-validation-for="Name" class="text-danger sm"></span>
        </div>

        <button type="submit">Update</button>
    </form>
</div>
